<h3>Add User</h3>
<form class="form-horizontal" role="form" method="post" action="inc/adduser.php">
	<div class="input-group input-group-lg">
		<input type="text" class="form-control" id="name" name="name" placeholder="Name...">
		<input type="text" class="form-control" id="password" name="password" placeholder="Password...">
		<input type="text" class="form-control" id="confirmpass" name="confirmpass" placeholder="Confirm Password...">
		<select class="selectpicker" name="level" title="Level...">
			<option value="0">Admin</option>
			<option value="1">Editor</option>
		</select>
	</div>
	
	<div class="input-group input-group-lg">
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit">Submit</button>
		</span>
	</div>
</form>