{extends "main.html"}

{block "wrapper"}
{if listall == true}
<ul class="list-group">
{foreach $eventlist event}
<a href="events.php?id={$event.id}" class="list-group-item">
    <img src="img/{$event.game}.png" height="40px" width="40px"/> {$event.host} {$event.name}
</a>
{/foreach}
</ul>
{/if}

{if $fail == false}
{foreach $serieslist series}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <b>
                <ol style="margin:-10px;" class="breadcrumb">
                    <li><img src="img/{$series.game}.png" height="40px" width="40px"/> {$series.host} {$series.event}</li>
                    <li>{$series.teamA} vs. {$series.teamB}</li>
                    <li>{$series.date}</li>
                    <li>{$series.comment}</li>
                </ol>
            </b>
        </div>
    </div>
    <div class="panel-body">
        <b>Maps: </b>
        {foreach $series.maps map}
        {if $map.series == $series.id}
        <a href="video.php?id={$map.id}">#{$map.number} </a>
        {/if}
        {/foreach}
    </div>
</div>
{/foreach}
{else}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">No results!</h3>
    </div>
    <div class="panel-body">
        <b>No event found.</b>
    </div>
</div>
{/if}
{/block}