{extends "main.html"}

{block "wrapper"}
	{if $fail == 0}
		{foreach $series val}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{$val.host} {$val.event} - {$val.teamA} vs. {$val.teamB} // {$val.date} (BO{$val.bestof}) // {$val.comment}</h3>
				</div>
				<div class="panel-body">
					<b>Maps: </b>
					{foreach $val.maps map}
						{if $map.series == $val.id}
							<a href="video.php?teamA={$val.teamA}&teamB={$val.teamB}&bestof={$val.bestof}&event={$val.event}&host={$val.host}&date={$val.date}&num={$map.number}&url={$map.url}&comment={$val.comment}" target="blank">#{$map.number} </a>
						{/if}
					{/foreach}
				</div>
			</div>
		{/foreach}
	{else}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">No results!</h3>
			</div>
			<div class="panel-body">
				<b>Try using the full team name! ie: "compLexity" rather than "coL".</b>
			</div>
		</div>
	{/if}
{/block}