{extends "main.html"}

{block "wrapper"}
{if $fail == 0}
{foreach $serieslist series}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <b>
                <ol style="margin:-10px;" class="breadcrumb">
                    <li><img src="img/{$series.game}.png" height="40px" width="40px"/> {$series.host} {$series.event}</li>
                    <li>{$series.teamA} vs. {$series.teamB}</li>
                    <li>{$series.date}</li>
                    <li>{$series.comment}</li>
                </ol>
            </b>
        </div>
    </div>
    <div class="panel-body">
        <b>Maps: </b>
        {foreach $series.maps map}
        {if $map.series == $series.id}
        <a href="video.php?id={$map.id}">#{$map.number} </a>
        {/if}
        {/foreach}
    </div>
</div>
{/foreach}
{else}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">No results!</h3>
    </div>
    <div class="panel-body">
        <b>Try using the full team name! ie: "compLexity" rather than "coL".</b>
    </div>
</div>
{/if}
{/block}