{extends "main.html"}

{block "wrapper"}
	<div class="panel panel-default">
		<div class="panel-heading">
			<nav>
				<ul style="margin-top:-6px;" class="pagination pagination-sm pull-right">
					{foreach $maps m}
						<li><a href="video.php?id={$m.id}">{$m.number}</a></li>
					{/foreach}
				</ul>
			</nav>
			<span style="margin-right:5px;" class="label label-info pull-right">Maps</span>
			<div class="panel-title">
				<b><ol style="margin:-10px;" class="breadcrumb">
					<li>{$map.host} {$map.event}</li>
					<li>{$map.teamA} vs. {$map.teamB}</li>
					<li>{$map.date}</li>
					<li>{$map.comment}</li>
				</ol></b>
			</div>
		</div>
		<div class="panel-body">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="{$map.url}"></iframe>
			</div>
		</div>
	</div>
	
	<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'codvods'; // required: replace example with your forum shortname
		var disqus_identifier = {$map.id};

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{/block}